<!-- Search Function: Input + Button -->
<section class="display-flex-center">
    <div class="searchInput-container display-flex-center">
        <input class="form-control" placeholder="Buscar" id="searchInput" />
        <button class="btn bi bi-search" id="searchButton">Buscar</button>
        <button data-bs-toggle="modal" data-bs-target="#registerProductModal"
        id="showModalButton">
        Agregar
    </button>
</div>
</section>

<style>
    .searchInput-container {
        display: flex;
        align-items: center;
        gap: 0;
    }

    #searchInput {
        --color: #0077ff;
        width: 180px;
        height: 50px;
        background-color: transparent;
        border: 2px solid var(--color);
        border-radius: 16px 0 0 16px;
    }

    .searchInput-container #searchButton {
        --color: #0077ff;
        /* width: 100px; */
        height: 50px;
        padding: 0 10px;
        background-color: var(--clr-bg-light);
        border: 2px solid var(--color);
        font-size: 1em;
        color: var(--color);
        margin-left: -10px; /* Sin margen */
        gap: 0;
        border-radius: 0 16px 16px 0;
    }

    #searchButton:hover,
    #showModalButton:hover {
        color: white;
    }

    #showModalButton {
        --color: #0077ff;
        height: 50px;
        cursor: pointer;
        padding: 0 10px;
        font-size: 17px;
        z-index: 1;
        color: var(--color);
        border: 2px solid var(--color);
        background-color: white;
        border-radius: 16px; /* Bordes redondeados solo para el lado derecho */
        margin: 0; /* Sin margen */
    }



    /* From Uiverse.io by yaasiinaxmed */
    button {
        --color: #0077ff;
        height: 50px;
        overflow: hidden;
        cursor: pointer;
        padding: 0 10px;
        font-size: 17px;
        z-index: 1;
        color: var(--color);
        border: 2px solid var(--color);
        background-color: white;
        border-radius: 6px;
        position: relative;
    }

    button::before {
        position: absolute;
        content: "";
        background: var(--color);
        width: 150px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
    }

    button:hover {
        color: white;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: 0.3s all;
    }

    button:hover::before {
        top: -30px;
        left: -30px;
    }
</style>